@charset "utf-8";
@import "compass/reset"; //编写自己的样式之前，有必要重置浏览器的默认样式
@import "footer";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

// 头部
.w990 {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    font-size: 100%;
    color: #333;
    text-align: left;
    #gome-head {
        height: 120px;
        vertical-align: middle;
        margin: 0 auto;
        // font-size: 100%;
        #logo {
            margin: 18px 40px 0 0;
            float: left;
            a {
                background: url(../images/registerlogo.png) no-repeat;
                width: 300px;
                height: 62px;
                margin-top: 16px;
                display: block;
                text-indent: -99px;
                color: #2875cc;
                font-size: 13px;
            }
        }
    }
    .login-box {
        position: relative;
        p {
            position: absolute;
            top: -70px;
            right: 20px;
        }
    }
}

//中间
#container {
    width: 1903px;
    height: 443px;
    background-color: #fff1e8;
    .step-progress {
        width: 1200px;
        height: 443px;
        background-position: top center;
        margin: 0 auto;
        position: relative;
        background: url(https://gfs10.gomein.net.cn/T1ruLjBvd_1RCvBVdK.jpg);
        form {
            position: absolute;
            top: 0;
            right: 0;
            width: 400px;
            height: 443px;
            box-sizing: border-box;
            border: 1px solid lightcoral;
            border-top: none;
            padding: 20px 20px;
            fieldset {
                width: 100%;
                height: 100%;
                legend {
                    width: 100%;
                    height: 50px;
                    font-size: 24px;
                }
                span {
                    // display: block;
                    width: 250px;
                    height: 20px;
                    border: 1px solid lime;
                    float: right;
                    margin-right: 10px;
                    display: none;
                }
                p {
                    display: block;
                    width: 360px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 16px;
                    position: relative;
                    input {
                        display: block;
                        width: 250px;
                        height: 30px;
                        position: absolute;
                        top: 25px;
                        right: 10px;
                    }
                }
                .input111 {
                    display: block;
                    width: 360px;
                    height: 40px;
                    border-radius: 30px;
                    font-size: 20px;
                    border: none;
                    background-color: lightskyblue;
                    margin-top: 20px;
                }
            }
        }
    }
}