@charset "utf-8";
@import "compass/reset"; //编写自己的样式之前，有必要重置浏览器的默认样式
@import "footer";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

// 头部
.w990 {
    width: 990px;
    height: 120px;
    margin: 0 auto;
    font-size: 100%;
    color: #333;
    text-align: left;
    #gome-head {
        height: 120px;
        vertical-align: middle;
        margin: 0 auto;
        // font-size: 100%;
        #logo {
            margin: 18px 40px 0 0;
            float: left;
            a {
                background: url(../images/registerlogo.png) no-repeat;
                width: 300px;
                height: 62px;
                margin-top: 16px;
                display: block;
                text-indent: -99px;
                color: #2875cc;
                font-size: 13px;
            }
        }
    }
    .login-box {
        position: relative;
        p {
            position: absolute;
            top: -70px;
            right: 20px;
        }
    }
}

//中间
.step-progress {
    width: 1903px;
    height: 443px;
    background-color: lightcoral;
}

//尾部
// .newRegister{
//     height: 208px;
//     #gome-foot{
//         border-top: 1px solid #dedede;
//         background: #ffffff;
//         margin-top: 15px;
//         #gome-foot-box{
//             width: 0 auto;
//             background: #ffffff;
//             position: relative;
//             padding: 20px 0 0;
//             ul{
//                 overflow: hidden;
//                 width: 990px;
//                 height: 22px;
//                 li{
//                     float: left;
//                     font-size: 12px;
//                     padding: 0 13px 0 0;
//                     line-height: 22px;
//                     white-space: nowrap;
//                     a{
//                         color: #cccccc;
//                     }
//                 }
//             }
//             p{
//                 width: 990px;
//                 height: 22px;
//                 line-height: 22px;
//                 font-size: 12px;
//                 color: #999999;
//             }
//             .gome-foot-credit{
//                 width: 990px;
//                 height: 36px;
//                 border-top: 1px solid #e6e6e6;
//                 margin-top: 5px;
//                 padding: 10px 0 25px;
//                 overflow: hidden;
//                 a{
//                     color: #666666;
//                     font-size: 13px;
//                     float: left;
//                     line-height: 36px;
//                     i{
//                         display: block;
//                         width: 35px;
//                         height: 35px;
//                         background: url(../images/spit.png) ;
//                         float: left;
//                     }
//                 }
//                 .credit-baxx i{
//                     background-position: 0 -180px;
//                 }
//                 .credit-xypi i{
//                     background-position: -35px -180px;
//                 }
//                 .credit-cxwz i{
//                     background-position: -70px -180px;
//                 }
//                 .credit-hdjc i{
//                     background-position: -105px -180px;
//                 }
//                 .credit-wgdj i{
//                     background-position: -140px -180px;
//                 }
//                 .credit-report i{
//                     background-position: -175px -180px;
//                 }
//             }
//         }
//     }
// }
// .newRegister a:hover{
//     color: #f5004b;
// }