/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/index.scss */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* line 13, ../sass/index.scss */
#ad1 {
  width: 1903px;
  height: 80px;
  background: #cc223f;
}

/* line 19, ../sass/index.scss */
#ad1 img {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

/* line 27, ../sass/index.scss */
#header {
  margin: 0 auto;
  width: 1903px;
  height: 30px;
  background: #f8f8f8;
}

/* line 34, ../sass/index.scss */
#header .inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* line 40, ../sass/index.scss */
#header .header_left {
  color: #5e5e5e;
}

/* line 44, ../sass/index.scss */
#header .header_left li {
  list-style: none;
  float: left;
}

/* line 49, ../sass/index.scss */
#header .header_left li a {
  font-size: 12px;
  line-height: 31px;
  text-decoration: none;
  display: block;
  float: left;
}

/* line 57, ../sass/index.scss */
#header .header_left .header_vip {
  width: 80px;
  margin-right: 12px;
}

/* line 63, ../sass/index.scss */
#header .header_left .header_login {
  width: 109px;
  float: left;
  height: 31px;
}

/* line 69, ../sass/index.scss */
#header .header_left .header_login :nth-child(1) {
  width: 24px;
  height: 14px;
  margin-right: 10px;
}

/* line 75, ../sass/index.scss */
#header .header_left .header_login :nth-child(1):hover {
  color: red;
}

/* line 79, ../sass/index.scss */
#header .header_left .header_login :nth-child(2) {
  color: red;
  width: 65px;
  height: 14px;
}

/* line 85, ../sass/index.scss */
#header .header_right {
  float: right;
  width: 496px;
  height: 31px;
}

/* line 91, ../sass/index.scss */
#header .header_right li {
  float: left;
  height: 31px;
  list-style: none;
}

/* line 97, ../sass/index.scss */
#header .header_right li a {
  font-size: 12px;
  color: #888;
  text-align: center;
  text-decoration: none;
  line-height: 31px;
}

/* line 105, ../sass/index.scss */
#header .header_right li a:hover {
  color: red;
}

/* line 109, ../sass/index.scss */
#header .header_right :nth-child(1) {
  width: 58px;
}

/* line 113, ../sass/index.scss */
#header .header_right :nth-child(2) {
  width: 80px;
}

/* line 117, ../sass/index.scss */
#header .header_right :nth-child(3) {
  width: 80px;
}

/* line 121, ../sass/index.scss */
#header .header_right :nth-child(4) {
  width: 99px;
}

/* line 125, ../sass/index.scss */
#header .header_right :nth-child(5) {
  width: 80px;
}

/* line 129, ../sass/index.scss */
#header .header_right :nth-child(6) {
  width: 99px;
}

/* line 134, ../sass/index.scss */
#search {
  margin: 0 auto;
  width: 1200px;
  height: 120px;
  background: white;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

/* line 145, ../sass/index.scss */
#search .search_logo {
  width: 125px;
  height: 56px;
  float: left;
}

/* line 151, ../sass/index.scss */
#search .search_logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/logo.png") no-repeat;
  margin: 32px 10px 0 0;
}

/* line 159, ../sass/index.scss */
#search .search_input {
  width: 500px;
  height: 52px;
  margin-top: 32px;
}

/* line 165, ../sass/index.scss */
#search .search_input .top {
  width: 498px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dd00a7;
}

/* line 173, ../sass/index.scss */
#search .search_input .top .shangpin {
  display: block;
  width: 62px;
  height: 32px;
  border-right: 1px solid #dd00a7;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
}

/* line 183, ../sass/index.scss */
#search .search_input .top .shangpin ul {
  border: 1px solid #dd00a7;
  border-top: none;
}

/* line 188, ../sass/index.scss */
#search .search_input .top .shangpin li {
  display: none;
}

/* line 192, ../sass/index.scss */
#search .search_input .top .shangpin:hover li {
  display: block;
}

/* line 196, ../sass/index.scss */
#search .search_input .top input {
  display: block;
  border: none;
  outline: none;
  width: 387px;
  height: 30px;
}

/* line 205, ../sass/index.scss */
#search .search_input .top button {
  display: block;
  width: 90px;
  height: 32px;
  border: none;
  background: #dd00a7;
}

/* line 213, ../sass/index.scss */
#search .search_input .bottom {
  width: 500px;
  height: 14px;
}

/* line 219, ../sass/index.scss */
#search .search_input .bottom li {
  float: left;
  font-size: 12px;
  color: #A5A5A5;
  line-height: 14px;
  margin-right: 10px;
  margin-top: 6px;
}

/* line 228, ../sass/index.scss */
#search .search_input .bottom .list1 {
  color: #f5004b;
}

/* line 232, ../sass/index.scss */
#search .search_input .bottom li:hover a {
  color: #f5004b;
}

/* line 237, ../sass/index.scss */
#nav {
  width: 1903px;
  height: 41px;
  background: #f8f8f8;
  margin: 0 auto;
}

/* line 245, ../sass/index.scss */
#nav .nav_top {
  width: 1200px;
  height: 41px;
  margin: 0 auto;
}

/* line 251, ../sass/index.scss */
#nav .nav_1 {
  width: 200px;
  height: 40px;
  background: #f1f1f1;
  line-height: 40px;
  float: left;
}
/* line 258, ../sass/index.scss */
#nav .nav_1 a {
  color: #585858;
  margin-left: 15px;
}

/* line 264, ../sass/index.scss */
#nav .nav_2 ul {
  width: 800px;
  height: 40px;
  float: left;
}
/* line 268, ../sass/index.scss */
#nav .nav_2 ul li {
  float: left;
  padding: 0 13px;
}
/* line 271, ../sass/index.scss */
#nav .nav_2 ul li a {
  color: #585858;
  line-height: 40px;
}

/* line 278, ../sass/index.scss */
#nav .nav_3 {
  width: 200px;
  height: 40px;
}

/* line 284, ../sass/index.scss */
#section_1 {
  margin: 0 auto;
  width: 1903px;
  height: 450px;
  border-top: 1px solid #dd00a7;
  position: relative;
}
/* line 290, ../sass/index.scss */
#section_1 img {
  width: 300px;
  height: 450px;
}

/* line 296, ../sass/index.scss */
#section_1 .img-left {
  position: absolute;
  left: 51.5px;
  top: 0;
}

/* line 302, ../sass/index.scss */
#section_1 .img-right {
  position: absolute;
  right: 51.5px;
  top: 0;
}

/* line 308, ../sass/index.scss */
#section_1 .section_1_main {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
/* line 315, ../sass/index.scss */
#section_1 .section_1_main .section_1_center {
  width: 750px;
  height: 450px;
  position: absolute;
  left: 200px;
  top: 0;
}
/* line 322, ../sass/index.scss */
#section_1 .section_1_main .section_1_center ul li {
  position: absolute;
  left: 0px;
  top: 0;
}
/* line 327, ../sass/index.scss */
#section_1 .section_1_main .section_1_center ul li img {
  width: 750px;
  height: 450px;
  display: none;
}
/* line 332, ../sass/index.scss */
#section_1 .section_1_main .section_1_center ul li .show {
  display: block;
}
/* line 337, ../sass/index.scss */
#section_1 .section_1_main .section_1_center ol {
  width: 750px;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 347, ../sass/index.scss */
#section_1 .section_1_main .section_1_center ol li {
  width: 30px;
  height: 13px;
  display: inline-block;
  margin: 0 4px;
}
/* line 355, ../sass/index.scss */
#section_1 .section_1_main .section_1_center ol li a {
  width: 30px;
  height: 5px;
  display: block;
  margin-top: 4px;
  background-color: #000000;
}
/* line 365, ../sass/index.scss */
#section_1 .section_1_main .section_1_center ol .active a {
  background-color: #e744c1;
}
/* line 371, ../sass/index.scss */
#section_1 .section_1_main .section_1_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 430px;
}
/* line 377, ../sass/index.scss */
#section_1 .section_1_main .section_1_right .right-top {
  width: 220px;
  height: 170px;
  margin: 0 15px;
  border-bottom: 1px dashed #ccc;
  font-size: 12px;
}

/* line 387, ../sass/index.scss */
#nav_2 {
  width: 999px;
  height: 448px;
  position: absolute;
  top: 0;
  left: 199px;
  border-left: none;
  border: 1px solid #ccc;
  border-left: none;
  display: none;
}
/* line 397, ../sass/index.scss */
#nav_2 .nav_2_left {
  width: 789px;
  height: 448px;
  background-color: #fbfbfb;
}
/* line 402, ../sass/index.scss */
#nav_2 .nav_2_left li {
  float: left;
  height: 22px;
  width: 50px;
  margin-right: 20px;
  border-right: 1px solid #e744c1;
}
/* line 409, ../sass/index.scss */
#nav_2 .nav_2_left .ul111 {
  padding: 20px 0 7 20px;
}
/* line 411, ../sass/index.scss */
#nav_2 .nav_2_left .ul111 li {
  background-color: #f5004b;
  padding: 0 10px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}

/* line 498, ../sass/index.scss */
#section_1 .section_1_main .section_1_left {
  width: 200px;
  height: 100%;
  background: #585858;
}
/* line 503, ../sass/index.scss */
#section_1 .section_1_main .section_1_left ul li {
  width: 200px;
  height: 30px;
}
/* line 506, ../sass/index.scss */
#section_1 .section_1_main .section_1_left ul li h3 {
  widows: 185px;
  height: 30px;
  display: block;
  margin-left: 5px;
  line-height: 30px;
  padding-left: 15px;
}
/* line 513, ../sass/index.scss */
#section_1 .section_1_main .section_1_left ul li h3 a {
  color: #fff;
  font-size: 14px;
  margin-right: 3px;
}

/* line 523, ../sass/index.scss */
#section_1 .section_1_main .section_1_left ul li a:hover {
  color: #dd00a7;
}

/* line 528, ../sass/index.scss */
#section_2 {
  width: 1903px;
  height: 272px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
/* line 534, ../sass/index.scss */
#section_2 .left_img {
  position: absolute;
  top: 0;
  left: 51.5px;
}
/* line 539, ../sass/index.scss */
#section_2 .right_img {
  position: absolute;
  top: 0;
  right: 51.5px;
}

/* line 546, ../sass/index.scss */
#section_2 .section_2_all {
  width: 1200px;
  height: 272px;
  background-color: #fff;
  margin: 20px auto 0 auto;
}
/* line 551, ../sass/index.scss */
#section_2 .section_2_all .section_2_left {
  border: 1px solid #cccccc;
  border-top: 1px solid #f5004b;
  width: 950px;
  height: 252px;
  float: left;
  box-sizing: border-box;
}
/* line 558, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top {
  width: 950px;
  height: 40px;
}
/* line 561, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .left {
  width: 202px;
  height: 40px;
  float: left;
}
/* line 565, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .left img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  float: left;
}
/* line 571, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .left h3 {
  font-size: 18px;
  color: #f5004b;
  line-height: 40px;
}
/* line 577, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .right {
  width: 239px;
  height: 40px;
  float: right;
}
/* line 581, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .right h5 {
  width: 91px;
  height: 40px;
  display: block;
  font-size: 14px;
  color: #f5004b;
  line-height: 40px;
  padding-right: 7px;
}
/* line 592, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_bottom {
  width: 950px;
  height: 212px;
  border-top: 1px solid #cccccc;
}
/* line 598, ../sass/index.scss */
#section_2 .section_2_all .section_2_right {
  width: 250px;
  height: 252px;
  float: left;
  box-sizing: border-box;
}
/* line 605, ../sass/index.scss */
#section_2 .section_2_all .section_2_right img {
  width: 240px;
  height: 252px;
  float: right;
}

/* line 614, ../sass/index.scss */
#section_3 {
  width: 1903px;
  height: 500px;
  margin: 0 auto;
}
/* line 619, ../sass/index.scss */
#section_3 .section_3_section {
  width: 1200px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}
/* line 624, ../sass/index.scss */
#section_3 .section_3_section .img_1 {
  position: absolute;
  top: 0;
  left: -300px;
}
/* line 629, ../sass/index.scss */
#section_3 .section_3_section .img_2 {
  position: absolute;
  top: 80px;
  left: 0;
}
/* line 634, ../sass/index.scss */
#section_3 .section_3_section .img_3 {
  position: absolute;
  top: 290px;
  left: 0;
}
/* line 639, ../sass/index.scss */
#section_3 .section_3_section .img_4 {
  position: absolute;
  top: 80px;
  left: 200px;
}
/* line 644, ../sass/index.scss */
#section_3 .section_3_section .img_5 {
  position: absolute;
  top: 80px;
  left: 400px;
}
/* line 649, ../sass/index.scss */
#section_3 .section_3_section .img_6 {
  position: absolute;
  top: 80px;
  left: 600px;
}
/* line 654, ../sass/index.scss */
#section_3 .section_3_section .img_7 {
  position: absolute;
  top: 80px;
  left: 800px;
}
/* line 659, ../sass/index.scss */
#section_3 .section_3_section .img_8 {
  position: absolute;
  top: 80px;
  left: 1000px;
}
/* line 664, ../sass/index.scss */
#section_3 .section_3_section .img_9 {
  position: absolute;
  top: 290px;
  left: 200px;
}
/* line 669, ../sass/index.scss */
#section_3 .section_3_section .img_10 {
  position: absolute;
  top: 290px;
  left: 400px;
}
/* line 674, ../sass/index.scss */
#section_3 .section_3_section .img_11 {
  position: absolute;
  top: 290px;
  left: 600px;
}
/* line 679, ../sass/index.scss */
#section_3 .section_3_section .img_12 {
  position: absolute;
  top: 290px;
  left: 800px;
}
/* line 684, ../sass/index.scss */
#section_3 .section_3_section .img_13 {
  position: absolute;
  top: 290px;
  left: 1000px;
}
/* line 689, ../sass/index.scss */
#section_3 .section_3_section .img_14 {
  position: absolute;
  top: 0;
  right: -300px;
}
/* line 694, ../sass/index.scss */
#section_3 .section_3_section .img15 {
  position: absolute;
  top: -80px;
  left: 0px;
}

/* line 703, ../sass/index.scss */
#section_4 {
  width: 1903px;
  height: 481px;
  margin: 0 auto;
}
/* line 707, ../sass/index.scss */
#section_4 .section_4_main {
  width: 1200px;
  height: 481px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 713, ../sass/index.scss */
#section_4 .section_4_main h2 {
  float: left;
  text-align: center;
  margin-top: 28px;
  font-size: 18px;
  color: #333333;
  margin-right: 10px;
}
/* line 721, ../sass/index.scss */
#section_4 .section_4_main span {
  float: left;
  margin-top: 28px;
  text-align: center;
  font-size: 20px;
  color: #333333;
}
/* line 728, ../sass/index.scss */
#section_4 .section_4_main .section_4_left {
  width: 420px;
  height: 100%;
  margin-right: 10px;
}
/* line 732, ../sass/index.scss */
#section_4 .section_4_main .section_4_left .left_top {
  width: 420px;
  height: 60px;
  float: left;
}
/* line 737, ../sass/index.scss */
#section_4 .section_4_main .section_4_left .left_bottom {
  width: 420px;
  height: 421px;
  box-sizing: border-box;
  margin-top: 60px;
  position: relative;
  border: 1px solid #cccccc;
}
/* line 744, ../sass/index.scss */
#section_4 .section_4_main .section_4_left .left_bottom .right_img {
  float: right;
}
/* line 747, ../sass/index.scss */
#section_4 .section_4_main .section_4_left .left_bottom .bottom_img {
  position: absolute;
  right: 0px;
  top: 209px;
}
/* line 754, ../sass/index.scss */
#section_4 .section_4_main .section_4_center {
  width: 420px;
  height: 481px;
  margin-right: 10px;
  box-sizing: border-box;
}
/* line 759, ../sass/index.scss */
#section_4 .section_4_main .section_4_center .center_top {
  width: 420px;
  height: 60px;
}
/* line 763, ../sass/index.scss */
#section_4 .section_4_main .section_4_center .center_bottom {
  width: 420px;
  height: 421px;
  position: relative;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
/* line 769, ../sass/index.scss */
#section_4 .section_4_main .section_4_center .center_bottom .right_img {
  float: right;
}
/* line 772, ../sass/index.scss */
#section_4 .section_4_main .section_4_center .center_bottom .bottom_img {
  position: absolute;
  right: 0px;
  top: 209px;
}
/* line 779, ../sass/index.scss */
#section_4 .section_4_main .section_4_right {
  width: 340px;
  height: 481px;
  box-sizing: border-box;
}
/* line 783, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_top {
  width: 340px;
  height: 60px;
}
/* line 787, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom {
  width: 340px;
  height: 421px;
  position: relative;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
/* line 795, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .left {
  float: left;
  width: 219px;
  height: 420px;
}
/* line 801, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .right {
  width: 118px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
}
/* line 808, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .right a {
  display: block;
  width: 118px;
  height: 60px;
  border: 1px dashed #cccccc;
  float: right;
}
/* line 815, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .right a :last-child {
  border-bottom: none;
}
/* line 818, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .right a img {
  margin-top: 15px;
}

/* line 828, ../sass/index.scss */
#ad2 {
  width: 1903px;
  height: 110px;
  margin: 0 auto;
}
/* line 832, ../sass/index.scss */
#ad2 .ad2_main {
  width: 1200px;
  height: 110px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 839, ../sass/index.scss */
#ad2 .ad2_main ul {
  display: flex;
  justify-content: space-between;
}

/* line 847, ../sass/index.scss */
#section_5 {
  width: 1903px;
  height: 326px;
}
/* line 852, ../sass/index.scss */
#section_5 .section_5_main {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* line 856, ../sass/index.scss */
#section_5 .section_5_main .top {
  width: 1200px;
  height: 60px;
  line-height: 80px;
}
/* line 860, ../sass/index.scss */
#section_5 .section_5_main .top h2 {
  float: left;
  font-size: 18px;
  color: #333;
}
/* line 865, ../sass/index.scss */
#section_5 .section_5_main .top span {
  padding: 27px 0 0 9px;
  color: #ccc;
  font-size: 20px;
}
/* line 872, ../sass/index.scss */
#section_5 .section_5_main .bottom {
  width: 1200px;
  height: 266px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
/* line 877, ../sass/index.scss */
#section_5 .section_5_main .bottom ul {
  width: 1200px;
  height: 264px;
  display: flex;
  justify-content: space-evenly;
}
/* line 882, ../sass/index.scss */
#section_5 .section_5_main .bottom ul li {
  width: 200px;
  height: 224px;
  border-right: 1px dashed #eeeeee;
}
/* line 887, ../sass/index.scss */
#section_5 .section_5_main .bottom ul li:last-child {
  border: none;
}

/* line 895, ../sass/index.scss */
#list {
  width: 1903px;
  height: 466px;
  margin: 0 auto;
  overflow: hidden;
  background: #f7f7f7;
}
/* line 901, ../sass/index.scss */
#list .bg {
  width: 1200px;
  height: 426px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}
/* line 907, ../sass/index.scss */
#list .bg .main {
  width: 1200px;
  height: 376px;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* line 912, ../sass/index.scss */
#list .bg .main h2 {
  width: 72px;
  height: 38px;
  float: left;
  line-height: 38px;
  color: #333333;
  font-size: 18px;
}
/* line 920, ../sass/index.scss */
#list .bg .main p {
  width: 70px;
  height: 30px;
  float: right;
}
/* line 924, ../sass/index.scss */
#list .bg .main p a {
  color: #888;
  font-size: 14px;
  line-height: 50px;
}
/* line 932, ../sass/index.scss */
#list .bg .main .left {
  width: 954px;
  height: 376px;
  float: left;
}
/* line 937, ../sass/index.scss */
#list .bg .main .left .top {
  width: 954px;
  height: 38px;
}
/* line 941, ../sass/index.scss */
#list .bg .main .left .bottom {
  width: 954px;
  height: 338px;
}
/* line 944, ../sass/index.scss */
#list .bg .main .left .bottom ul {
  width: 954px;
  height: 338px;
}
/* line 947, ../sass/index.scss */
#list .bg .main .left .bottom ul li {
  width: 306px;
  height: 338px;
  background: white;
  float: left;
  margin-right: 12px;
}
/* line 958, ../sass/index.scss */
#list .bg .main .right {
  width: 246px;
  height: 376px;
  float: right;
}
/* line 962, ../sass/index.scss */
#list .bg .main .right .top {
  width: 246px;
  height: 38px;
}
/* line 966, ../sass/index.scss */
#list .bg .main .right .bottom {
  width: 246px;
  height: 338px;
}
/* line 969, ../sass/index.scss */
#list .bg .main .right .bottom .bottom_section {
  height: 338px;
  padding: 0 15px;
  background: #fff;
}

/* line 981, ../sass/index.scss */
#product {
  width: 1903px;
}

/* line 987, ../sass/index.scss */
#section_6 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
}
/* line 991, ../sass/index.scss */
#section_6 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #719ef7;
  box-sizing: border-box;
}
/* line 997, ../sass/index.scss */
#section_6 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1004, ../sass/index.scss */
#section_6 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1008, ../sass/index.scss */
#section_6 .top .top_left h2 {
  font-size: 100%;
}
/* line 1012, ../sass/index.scss */
#section_6 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1019, ../sass/index.scss */
#section_6 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1022, ../sass/index.scss */
#section_6 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1028, ../sass/index.scss */
#section_6 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1032, ../sass/index.scss */
#section_6 .top .top_right ul .list11 {
  background: #719ef7;
}
/* line 1036, ../sass/index.scss */
#section_6 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1041, ../sass/index.scss */
#section_6 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1045, ../sass/index.scss */
#section_6 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #719ef7;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1053, ../sass/index.scss */
#section_6 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1057, ../sass/index.scss */
#section_6 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1060, ../sass/index.scss */
#section_6 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1064, ../sass/index.scss */
#section_6 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1068, ../sass/index.scss */
#section_6 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1074, ../sass/index.scss */
#section_6 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1083, ../sass/index.scss */
#section_6 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1086, ../sass/index.scss */
#section_6 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1091, ../sass/index.scss */
#section_6 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1094, ../sass/index.scss */
#section_6 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1099, ../sass/index.scss */
#section_6 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1102, ../sass/index.scss */
#section_6 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1105, ../sass/index.scss */
#section_6 .bottom .bottom_phone .ul3 {
  width: 73px;
}

/* line 1113, ../sass/index.scss */
#section_7 {
  width: 1200px;
  height: 659px;
  margin: 0 auto;
}
/* line 1117, ../sass/index.scss */
#section_7 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #3eb8e9;
  box-sizing: border-box;
}
/* line 1123, ../sass/index.scss */
#section_7 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1130, ../sass/index.scss */
#section_7 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1134, ../sass/index.scss */
#section_7 .top .top_left h2 {
  font-size: 100%;
}
/* line 1138, ../sass/index.scss */
#section_7 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1145, ../sass/index.scss */
#section_7 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1148, ../sass/index.scss */
#section_7 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1154, ../sass/index.scss */
#section_7 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1159, ../sass/index.scss */
#section_7 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1164, ../sass/index.scss */
#section_7 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1168, ../sass/index.scss */
#section_7 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #3eb8e9;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1176, ../sass/index.scss */
#section_7 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1180, ../sass/index.scss */
#section_7 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1183, ../sass/index.scss */
#section_7 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1187, ../sass/index.scss */
#section_7 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1191, ../sass/index.scss */
#section_7 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1197, ../sass/index.scss */
#section_7 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1206, ../sass/index.scss */
#section_7 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1209, ../sass/index.scss */
#section_7 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1214, ../sass/index.scss */
#section_7 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1217, ../sass/index.scss */
#section_7 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1222, ../sass/index.scss */
#section_7 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1225, ../sass/index.scss */
#section_7 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1228, ../sass/index.scss */
#section_7 .bottom .bottom_phone .ul3 {
  width: 73px;
}
/* line 1233, ../sass/index.scss */
#section_7 .bottom_ul {
  width: 1200px;
  height: 100px;
  margin-top: 18px;
}

/* line 1241, ../sass/index.scss */
#section_8 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
}
/* line 1245, ../sass/index.scss */
#section_8 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #7179ea;
  box-sizing: border-box;
}
/* line 1251, ../sass/index.scss */
#section_8 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1258, ../sass/index.scss */
#section_8 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1262, ../sass/index.scss */
#section_8 .top .top_left h2 {
  font-size: 100%;
}
/* line 1266, ../sass/index.scss */
#section_8 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1273, ../sass/index.scss */
#section_8 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1276, ../sass/index.scss */
#section_8 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1282, ../sass/index.scss */
#section_8 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1287, ../sass/index.scss */
#section_8 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1292, ../sass/index.scss */
#section_8 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1296, ../sass/index.scss */
#section_8 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #7179ea;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1304, ../sass/index.scss */
#section_8 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1308, ../sass/index.scss */
#section_8 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1311, ../sass/index.scss */
#section_8 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1315, ../sass/index.scss */
#section_8 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1319, ../sass/index.scss */
#section_8 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1325, ../sass/index.scss */
#section_8 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1334, ../sass/index.scss */
#section_8 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1337, ../sass/index.scss */
#section_8 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1342, ../sass/index.scss */
#section_8 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1345, ../sass/index.scss */
#section_8 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1350, ../sass/index.scss */
#section_8 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1353, ../sass/index.scss */
#section_8 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1356, ../sass/index.scss */
#section_8 .bottom .bottom_phone .ul3 {
  width: 73px;
}

/* line 1364, ../sass/index.scss */
#section_9 {
  width: 1200px;
  height: 659px;
  margin: 0 auto;
}
/* line 1368, ../sass/index.scss */
#section_9 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #719ef7;
  box-sizing: border-box;
}
/* line 1374, ../sass/index.scss */
#section_9 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1381, ../sass/index.scss */
#section_9 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1385, ../sass/index.scss */
#section_9 .top .top_left h2 {
  font-size: 100%;
}
/* line 1389, ../sass/index.scss */
#section_9 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1396, ../sass/index.scss */
#section_9 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1399, ../sass/index.scss */
#section_9 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1405, ../sass/index.scss */
#section_9 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1410, ../sass/index.scss */
#section_9 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1415, ../sass/index.scss */
#section_9 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1419, ../sass/index.scss */
#section_9 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #719ef7;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1427, ../sass/index.scss */
#section_9 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1431, ../sass/index.scss */
#section_9 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1434, ../sass/index.scss */
#section_9 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1438, ../sass/index.scss */
#section_9 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1442, ../sass/index.scss */
#section_9 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1448, ../sass/index.scss */
#section_9 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1457, ../sass/index.scss */
#section_9 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1460, ../sass/index.scss */
#section_9 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1465, ../sass/index.scss */
#section_9 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1468, ../sass/index.scss */
#section_9 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1473, ../sass/index.scss */
#section_9 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1476, ../sass/index.scss */
#section_9 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1479, ../sass/index.scss */
#section_9 .bottom .bottom_phone .ul3 {
  width: 73px;
}
/* line 1484, ../sass/index.scss */
#section_9 .bottom_ul {
  width: 1200px;
  height: 100px;
  margin-top: 18px;
}

/* line 1492, ../sass/index.scss */
#section_10 {
  width: 1200px;
  height: 659px;
  margin: 0 auto;
}
/* line 1496, ../sass/index.scss */
#section_10 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #e744c1;
  box-sizing: border-box;
}
/* line 1502, ../sass/index.scss */
#section_10 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1509, ../sass/index.scss */
#section_10 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1513, ../sass/index.scss */
#section_10 .top .top_left h2 {
  font-size: 100%;
}
/* line 1517, ../sass/index.scss */
#section_10 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1524, ../sass/index.scss */
#section_10 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1527, ../sass/index.scss */
#section_10 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1533, ../sass/index.scss */
#section_10 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1538, ../sass/index.scss */
#section_10 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1543, ../sass/index.scss */
#section_10 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1547, ../sass/index.scss */
#section_10 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #e744c1;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1555, ../sass/index.scss */
#section_10 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1559, ../sass/index.scss */
#section_10 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1562, ../sass/index.scss */
#section_10 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1566, ../sass/index.scss */
#section_10 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1570, ../sass/index.scss */
#section_10 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1576, ../sass/index.scss */
#section_10 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1585, ../sass/index.scss */
#section_10 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1588, ../sass/index.scss */
#section_10 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1593, ../sass/index.scss */
#section_10 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1596, ../sass/index.scss */
#section_10 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1601, ../sass/index.scss */
#section_10 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1604, ../sass/index.scss */
#section_10 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1607, ../sass/index.scss */
#section_10 .bottom .bottom_phone .ul3 {
  width: 73px;
}
/* line 1612, ../sass/index.scss */
#section_10 .bottom_ul {
  width: 1200px;
  height: 100px;
  margin-top: 18px;
}

/* line 1620, ../sass/index.scss */
#section_11 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
}
/* line 1624, ../sass/index.scss */
#section_11 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #719ef7;
  box-sizing: border-box;
}
/* line 1630, ../sass/index.scss */
#section_11 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1637, ../sass/index.scss */
#section_11 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1641, ../sass/index.scss */
#section_11 .top .top_left h2 {
  font-size: 100%;
}
/* line 1645, ../sass/index.scss */
#section_11 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1652, ../sass/index.scss */
#section_11 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1655, ../sass/index.scss */
#section_11 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1661, ../sass/index.scss */
#section_11 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1666, ../sass/index.scss */
#section_11 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1671, ../sass/index.scss */
#section_11 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1675, ../sass/index.scss */
#section_11 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #719ef7;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1683, ../sass/index.scss */
#section_11 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1687, ../sass/index.scss */
#section_11 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1690, ../sass/index.scss */
#section_11 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1694, ../sass/index.scss */
#section_11 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1698, ../sass/index.scss */
#section_11 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1704, ../sass/index.scss */
#section_11 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1713, ../sass/index.scss */
#section_11 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1716, ../sass/index.scss */
#section_11 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1721, ../sass/index.scss */
#section_11 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1724, ../sass/index.scss */
#section_11 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1729, ../sass/index.scss */
#section_11 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1732, ../sass/index.scss */
#section_11 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1735, ../sass/index.scss */
#section_11 .bottom .bottom_phone .ul3 {
  width: 73px;
}

/* line 1743, ../sass/index.scss */
#section_12 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
}
/* line 1747, ../sass/index.scss */
#section_12 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #6a8ea0;
  box-sizing: border-box;
}
/* line 1753, ../sass/index.scss */
#section_12 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1760, ../sass/index.scss */
#section_12 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1764, ../sass/index.scss */
#section_12 .top .top_left h2 {
  font-size: 100%;
}
/* line 1768, ../sass/index.scss */
#section_12 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1775, ../sass/index.scss */
#section_12 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1778, ../sass/index.scss */
#section_12 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1784, ../sass/index.scss */
#section_12 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1789, ../sass/index.scss */
#section_12 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1794, ../sass/index.scss */
#section_12 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1798, ../sass/index.scss */
#section_12 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #6a8ea0;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1806, ../sass/index.scss */
#section_12 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1810, ../sass/index.scss */
#section_12 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1813, ../sass/index.scss */
#section_12 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1817, ../sass/index.scss */
#section_12 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1821, ../sass/index.scss */
#section_12 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1827, ../sass/index.scss */
#section_12 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1836, ../sass/index.scss */
#section_12 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1839, ../sass/index.scss */
#section_12 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1844, ../sass/index.scss */
#section_12 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1847, ../sass/index.scss */
#section_12 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1852, ../sass/index.scss */
#section_12 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1855, ../sass/index.scss */
#section_12 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1858, ../sass/index.scss */
#section_12 .bottom .bottom_phone .ul3 {
  width: 73px;
}

/* line 1866, ../sass/index.scss */
#section_13 {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
}
/* line 1871, ../sass/index.scss */
#section_13 .section_13_left {
  width: 830px;
  height: 400px;
  float: left;
}
/* line 1875, ../sass/index.scss */
#section_13 .section_13_left .left_top {
  width: 830px;
  height: 60px;
  line-height: 60px;
}
/* line 1879, ../sass/index.scss */
#section_13 .section_13_left .left_top h2 {
  float: left;
  font-size: 20px;
  color: #ccc;
}
/* line 1884, ../sass/index.scss */
#section_13 .section_13_left .left_top span {
  padding: 27px 0 0 9px;
  color: #ccc;
  font-size: 20px;
}
/* line 1889, ../sass/index.scss */
#section_13 .section_13_left .left_top p {
  float: right;
}
/* line 1891, ../sass/index.scss */
#section_13 .section_13_left .left_top p a {
  color: #ccc;
  font-size: 12px;
}
/* line 1898, ../sass/index.scss */
#section_13 .left_bottom {
  width: 830px;
  height: 340px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
/* line 1903, ../sass/index.scss */
#section_13 .left_bottom .left {
  float: left;
  width: 281px;
  height: 340px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
/* line 1910, ../sass/index.scss */
#section_13 .left_bottom .right {
  float: right;
  width: 547px;
  height: 340px;
  box-sizing: border-box;
}

/* line 1919, ../sass/index.scss */
.section_13_right {
  width: 361px;
  height: 400px;
  float: right;
}
/* line 1923, ../sass/index.scss */
.section_13_right .right_top {
  width: 361px;
  height: 60px;
  line-height: 60px;
}
/* line 1928, ../sass/index.scss */
.section_13_right .right_top h2 {
  float: left;
  font-size: 20px;
  color: #ccc;
}
/* line 1933, ../sass/index.scss */
.section_13_right .right_top span {
  padding: 27px 0 0 9px;
  color: #ccc;
  font-size: 20px;
}
/* line 1938, ../sass/index.scss */
.section_13_right .right_top p {
  float: right;
}
/* line 1940, ../sass/index.scss */
.section_13_right .right_top p a {
  color: #ccc;
  font-size: 12px;
}
/* line 1946, ../sass/index.scss */
.section_13_right .right_bottom {
  width: 361px;
  height: 340px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

/* line 1956, ../sass/index.scss */
#section_14 {
  width: 1200px;
  height: 222px;
  margin: 0 auto;
}
/* line 1960, ../sass/index.scss */
#section_14 .ul11 {
  width: 1200px;
  height: 42px;
  padding: 15px 0;
  background: #ccc;
}
/* line 1966, ../sass/index.scss */
#section_14 .ul11 li {
  width: 396px;
  height: 42px;
  float: left;
  line-height: 42px;
}
/* line 1973, ../sass/index.scss */
#section_14 .section_14_footer {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
}
/* line 1978, ../sass/index.scss */
#section_14 .section_14_footer ul {
  width: 240px;
  height: 150px;
  float: left;
}
/* line 1982, ../sass/index.scss */
#section_14 .section_14_footer ul li {
  padding: 10px 0 0 75px;
  font-size: 12px;
}
/* line 1985, ../sass/index.scss */
#section_14 .section_14_footer ul li a {
  color: #A5A5A5;
}
/* line 1989, ../sass/index.scss */
#section_14 .section_14_footer ul .list1 {
  font-size: 16px;
}

/* line 1997, ../sass/index.scss */
#footer {
  width: 1903px;
  height: 293px;
  margin: 15px auto 0;
  background: #f7f7f7;
  border-top: 1px solid #dd00a7;
}
/* line 2003, ../sass/index.scss */
#footer .footer_main {
  margin: 0 auto;
  width: 1200px;
  height: 293px;
  padding: 20px 0 0;
  overflow: hidden;
}
/* line 2010, ../sass/index.scss */
#footer .footer_main span {
  width: 315px;
  height: 45px;
  display: inline-block;
  margin-left: 10px;
  padding: 0 50px 40px 0;
}
/* line 2017, ../sass/index.scss */
#footer .footer_main span strong {
  font-size: 18px;
  display: block;
  color: #333333;
}
/* line 2022, ../sass/index.scss */
#footer .footer_main span a {
  font-size: 12px;
  color: #999999;
}
/* line 2027, ../sass/index.scss */
#footer .footer_main #gome-foot-box {
  width: 0 auto;
  position: relative;
  padding: 20px 0 0;
}
/* line 2032, ../sass/index.scss */
#footer .footer_main #gome-foot-box ul {
  overflow: hidden;
  width: 990px;
  height: 22px;
}
/* line 2036, ../sass/index.scss */
#footer .footer_main #gome-foot-box ul li {
  float: left;
  font-size: 12px;
  padding: 0 13px 0 0;
  line-height: 22px;
  white-space: nowrap;
}
/* line 2042, ../sass/index.scss */
#footer .footer_main #gome-foot-box ul li a {
  color: #cccccc;
}
/* line 2047, ../sass/index.scss */
#footer .footer_main #gome-foot-box p {
  width: 990px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #999999;
}
/* line 2054, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit {
  width: 990px;
  height: 36px;
  border-top: 1px solid #e6e6e6;
  margin-top: 5px;
  padding: 10px 0 25px;
  overflow: hidden;
}
/* line 2062, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit p a {
  color: #666666;
}
/* line 2066, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit a {
  color: #666666;
  font-size: 13px;
  float: left;
  line-height: 36px;
}
/* line 2071, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit a i {
  display: block;
  width: 35px;
  height: 35px;
  background: url(../images/spit.png);
  float: left;
}
/* line 2079, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit .credit-baxx i {
  background-position: 0 -180px;
}
/* line 2082, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit .credit-xypi i {
  background-position: -35px -180px;
}
/* line 2085, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit .credit-cxwz i {
  background-position: -70px -180px;
}
/* line 2088, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit .credit-hdjc i {
  background-position: -105px -180px;
}
/* line 2091, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit .credit-wgdj i {
  background-position: -140px -180px;
}
/* line 2094, ../sass/index.scss */
#footer .footer_main #gome-foot-box .gome-foot-credit .credit-report i {
  background-position: -175px -180px;
}
/* line 2099, ../sass/index.scss */
#footer .footer_main p {
  width: 1200px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

/* line 2108, ../sass/index.scss */
#footer .footer_main a:hover {
  color: #f5004b;
}

/* line 2112, ../sass/index.scss */
#footer li:hover a {
  color: #f5004b;
}

/* line 2116, ../sass/index.scss */
#gome-bar-border {
  position: fixed;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  background-color: #5c5c5c;
}

/* line 2125, ../sass/index.scss */
#elevator {
  width: 66px;
  position: fixed;
  left: 275.5px;
  top: 54.5px;
  z-index: 960;
  display: block;
  background-color: #fff;
}
/* line 2133, ../sass/index.scss */
#elevator .fl_nav {
  background-color: #f6f6f6;
  color: #5e5e5e;
  font-size: 13px;
  font-weight: 700;
  line-height: 31px;
  height: 30px;
  height: 32px;
  text-align: center;
}
/* line 2143, ../sass/index.scss */
#elevator ul {
  width: 66px;
  height: 308px;
}
/* line 2146, ../sass/index.scss */
#elevator ul li {
  height: 43px;
  cursor: pointer;
  line-height: 5px;
}
/* line 2150, ../sass/index.scss */
#elevator ul li a {
  font-size: 12px;
  color: #5e5e5e;
  text-align: center;
}
/* line 2154, ../sass/index.scss */
#elevator ul li a span {
  display: block;
  height: 21px;
  line-height: 12px;
  padding-top: 8px;
  padding-bottom: 1px;
}
/* line 2164, ../sass/index.scss */
#elevator ul .current a {
  color: #f5004b;
}

/* line 2171, ../sass/index.scss */
#elevator .handle:hover a {
  color: #f5004b;
}
