/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/index.scss */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* line 15, ../sass/index.scss */
#ad1 {
  width: 1903px;
  height: 80px;
  background: #cc223f;
}

/* line 21, ../sass/index.scss */
#ad1 img {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

/* line 30, ../sass/index.scss */
#header {
  margin: 0 auto;
  width: 1903px;
  height: 30px;
  background: #f8f8f8;
}

/* line 36, ../sass/index.scss */
#header .inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* line 41, ../sass/index.scss */
#header .header_left {
  color: #5e5e5e;
}

/* line 45, ../sass/index.scss */
#header .header_left li {
  list-style: none;
  float: left;
}

/* line 49, ../sass/index.scss */
#header .header_left li a {
  font-size: 12px;
  line-height: 31px;
  text-decoration: none;
  display: block;
  float: left;
}

/* line 56, ../sass/index.scss */
#header .header_left .header_vip {
  width: 80px;
  margin-right: 12px;
}

/* line 61, ../sass/index.scss */
#header .header_left .header_login {
  width: 109px;
  float: left;
  height: 31px;
}

/* line 67, ../sass/index.scss */
#header .header_left .header_login :nth-child(1) {
  width: 24px;
  height: 14px;
  margin-right: 10px;
}

/* line 72, ../sass/index.scss */
#header .header_left .header_login :nth-child(1):hover {
  color: red;
}

/* line 75, ../sass/index.scss */
#header .header_left .header_login :nth-child(2) {
  color: red;
  width: 65px;
  height: 14px;
}

/* line 80, ../sass/index.scss */
#header .header_right {
  float: right;
  width: 496px;
  height: 31px;
}

/* line 85, ../sass/index.scss */
#header .header_right li {
  float: left;
  height: 31px;
  list-style: none;
}

/* line 90, ../sass/index.scss */
#header .header_right li a {
  font-size: 12px;
  color: #888;
  text-align: center;
  text-decoration: none;
  line-height: 31px;
}

/* line 97, ../sass/index.scss */
#header .header_right li a:hover {
  color: red;
}

/* line 100, ../sass/index.scss */
#header .header_right :nth-child(1) {
  width: 58px;
}

/* line 103, ../sass/index.scss */
#header .header_right :nth-child(2) {
  width: 80px;
}

/* line 106, ../sass/index.scss */
#header .header_right :nth-child(3) {
  width: 80px;
}

/* line 109, ../sass/index.scss */
#header .header_right :nth-child(4) {
  width: 99px;
}

/* line 112, ../sass/index.scss */
#header .header_right :nth-child(5) {
  width: 80px;
}

/* line 115, ../sass/index.scss */
#header .header_right :nth-child(6) {
  width: 99px;
}

/* line 130, ../sass/index.scss */
#search {
  margin: 0 auto;
  width: 1200px;
  height: 120px;
  background: white;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

/* line 141, ../sass/index.scss */
#search .search_logo {
  width: 125px;
  height: 56px;
  float: left;
}

/* line 146, ../sass/index.scss */
#search .search_logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/logo.png") no-repeat;
  margin: 32px 10px 0 0;
}

/* line 154, ../sass/index.scss */
#search .search_input {
  width: 500px;
  height: 52px;
  margin-top: 32px;
}

/* line 159, ../sass/index.scss */
#search .search_input .top {
  width: 498px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dd00a7;
}

/* line 166, ../sass/index.scss */
#search .search_input .top .shangpin {
  display: block;
  width: 62px;
  height: 32px;
  border-right: 1px solid #dd00a7;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
}

/* line 175, ../sass/index.scss */
#search .search_input .top .shangpin ul {
  border: 1px solid #dd00a7;
  border-top: none;
}

/* line 179, ../sass/index.scss */
#search .search_input .top .shangpin li {
  display: none;
}

/* line 182, ../sass/index.scss */
#search .search_input .top .shangpin:hover li {
  display: block;
}

/* line 186, ../sass/index.scss */
#search .search_input .top input {
  display: block;
  border: none;
  outline: none;
  width: 387px;
  height: 30px;
}

/* line 194, ../sass/index.scss */
#search .search_input .top button {
  display: block;
  width: 90px;
  height: 32px;
  border: none;
  background: #dd00a7;
}

/* line 202, ../sass/index.scss */
#search .search_input .bottom {
  width: 500px;
  height: 14px;
}

/* line 208, ../sass/index.scss */
#search .search_input .bottom li {
  float: left;
  font-size: 12px;
  color: #A5A5A5;
  line-height: 14px;
  margin-right: 10px;
  margin-top: 6px;
}

/* line 216, ../sass/index.scss */
#search .search_input .bottom .list1 {
  color: #f5004b;
}

/* line 219, ../sass/index.scss */
#search .search_input .bottom li:hover a {
  color: #f5004b;
}

/* line 229, ../sass/index.scss */
#nav {
  width: 1903px;
  height: 41px;
  background: #f8f8f8;
  margin: 0 auto;
}

/* line 236, ../sass/index.scss */
#nav .nav_top {
  width: 1200px;
  height: 41px;
  margin: 0 auto;
}

/* line 241, ../sass/index.scss */
#nav .nav_1 {
  width: 200px;
  height: 40px;
  background: #f1f1f1;
  line-height: 40px;
  float: left;
}
/* line 248, ../sass/index.scss */
#nav .nav_1 a {
  color: #585858;
  margin-left: 15px;
}

/* line 254, ../sass/index.scss */
#nav .nav_2 ul {
  width: 800px;
  height: 40px;
  float: left;
}
/* line 258, ../sass/index.scss */
#nav .nav_2 ul li {
  float: left;
  padding: 0 13px;
}
/* line 261, ../sass/index.scss */
#nav .nav_2 ul li a {
  color: #585858;
  line-height: 40px;
}

/* line 269, ../sass/index.scss */
#nav .nav_3 {
  width: 200px;
  height: 40px;
}

/* line 276, ../sass/index.scss */
#section_1 {
  margin: 0 auto;
  width: 1903px;
  height: 450px;
  border-top: 1px solid #dd00a7;
  position: relative;
}
/* line 282, ../sass/index.scss */
#section_1 img {
  width: 300px;
  height: 450px;
}

/* line 287, ../sass/index.scss */
#section_1 .img-left {
  position: absolute;
  left: 51.5px;
  top: 0;
}

/* line 292, ../sass/index.scss */
#section_1 .img-right {
  position: absolute;
  right: 51.5px;
  top: 0;
}

/* line 297, ../sass/index.scss */
#section_1 .section_1_main {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
  background: lightblue;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
/* line 304, ../sass/index.scss */
#section_1 .section_1_main #nav_2 {
  width: 999px;
  height: 448px;
  position: absolute;
  top: 0;
  left: 199px;
  border-left: none;
  border: 1px solid #ccc;
  border-left: none;
  display: none;
}
/* line 314, ../sass/index.scss */
#section_1 .section_1_main #nav_2 .nav_2_left {
  width: 789px;
  height: 448px;
  background-color: #fbfbfb;
}
/* line 319, ../sass/index.scss */
#section_1 .section_1_main #nav_2 .nav_2_left li {
  float: left;
  height: 22px;
  width: 50px;
  margin-right: 20px;
  border-right: 1px solid #e744c1;
}
/* line 327, ../sass/index.scss */
#section_1 .section_1_main #nav_2 .nav_2_left .ul111 {
  padding: 20px 0 7 20px;
}
/* line 329, ../sass/index.scss */
#section_1 .section_1_main #nav_2 .nav_2_left .ul111 li {
  background-color: #f5004b;
  padding: 0 10px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}

/* line 423, ../sass/index.scss */
#section_1 .section_1_main .section_1_left {
  width: 200px;
  height: 100%;
  background: #585858;
}
/* line 428, ../sass/index.scss */
#section_1 .section_1_main .section_1_left ul li {
  width: 200px;
  height: 30px;
}
/* line 431, ../sass/index.scss */
#section_1 .section_1_main .section_1_left ul li h3 {
  widows: 185px;
  height: 30px;
  display: block;
  margin-left: 5px;
  line-height: 30px;
  padding-left: 15px;
}
/* line 438, ../sass/index.scss */
#section_1 .section_1_main .section_1_left ul li h3 a {
  color: #fff;
  font-size: 14px;
  margin-right: 3px;
}

/* line 448, ../sass/index.scss */
#section_1 .section_1_main .section_1_left ul li a:hover {
  color: #dd00a7;
}

/* line 455, ../sass/index.scss */
#section_2 {
  width: 1903px;
  height: 272px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
/* line 462, ../sass/index.scss */
#section_2 .left_img {
  position: absolute;
  top: 0;
  left: 51.5px;
}
/* line 467, ../sass/index.scss */
#section_2 .right_img {
  position: absolute;
  top: 0;
  right: 51.5px;
}

/* line 473, ../sass/index.scss */
#section_2 .section_2_all {
  width: 1200px;
  height: 272px;
  background-color: #fff;
  margin: 20px auto 0 auto;
}
/* line 479, ../sass/index.scss */
#section_2 .section_2_all .section_2_left {
  border: 1px solid #cccccc;
  border-top: 1px solid #f5004b;
  width: 950px;
  height: 252px;
  float: left;
  box-sizing: border-box;
}
/* line 486, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top {
  width: 950px;
  height: 40px;
}
/* line 489, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .left {
  width: 202px;
  height: 40px;
  float: left;
}
/* line 493, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .left img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  float: left;
}
/* line 499, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .left h3 {
  font-size: 18px;
  color: #f5004b;
  line-height: 40px;
}
/* line 505, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .right {
  width: 239px;
  height: 40px;
  float: right;
}
/* line 509, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_top .right h5 {
  width: 91px;
  height: 40px;
  display: block;
  font-size: 14px;
  color: #f5004b;
  line-height: 40px;
  padding-right: 7px;
}
/* line 520, ../sass/index.scss */
#section_2 .section_2_all .section_2_left .section_2_left_bottom {
  width: 950px;
  height: 212px;
  border-top: 1px solid #cccccc;
}
/* line 526, ../sass/index.scss */
#section_2 .section_2_all .section_2_right {
  width: 250px;
  height: 252px;
  float: left;
  box-sizing: border-box;
}
/* line 533, ../sass/index.scss */
#section_2 .section_2_all .section_2_right img {
  width: 240px;
  height: 252px;
  float: right;
}

/* line 548, ../sass/index.scss */
#section_3 {
  width: 1903px;
  height: 500px;
  margin: 0 auto;
}
/* line 553, ../sass/index.scss */
#section_3 .section_3_section {
  width: 1200px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}
/* line 558, ../sass/index.scss */
#section_3 .section_3_section .img_1 {
  position: absolute;
  top: 0;
  left: -300px;
}
/* line 564, ../sass/index.scss */
#section_3 .section_3_section .img_2 {
  position: absolute;
  top: 80px;
  left: 0;
}
/* line 569, ../sass/index.scss */
#section_3 .section_3_section .img_3 {
  position: absolute;
  top: 290px;
  left: 0;
}
/* line 574, ../sass/index.scss */
#section_3 .section_3_section .img_4 {
  position: absolute;
  top: 80px;
  left: 200px;
}
/* line 579, ../sass/index.scss */
#section_3 .section_3_section .img_5 {
  position: absolute;
  top: 80px;
  left: 400px;
}
/* line 584, ../sass/index.scss */
#section_3 .section_3_section .img_6 {
  position: absolute;
  top: 80px;
  left: 600px;
}
/* line 589, ../sass/index.scss */
#section_3 .section_3_section .img_7 {
  position: absolute;
  top: 80px;
  left: 800px;
}
/* line 594, ../sass/index.scss */
#section_3 .section_3_section .img_8 {
  position: absolute;
  top: 80px;
  left: 1000px;
}
/* line 599, ../sass/index.scss */
#section_3 .section_3_section .img_9 {
  position: absolute;
  top: 290px;
  left: 200px;
}
/* line 604, ../sass/index.scss */
#section_3 .section_3_section .img_10 {
  position: absolute;
  top: 290px;
  left: 400px;
}
/* line 609, ../sass/index.scss */
#section_3 .section_3_section .img_11 {
  position: absolute;
  top: 290px;
  left: 600px;
}
/* line 614, ../sass/index.scss */
#section_3 .section_3_section .img_12 {
  position: absolute;
  top: 290px;
  left: 800px;
}
/* line 619, ../sass/index.scss */
#section_3 .section_3_section .img_13 {
  position: absolute;
  top: 290px;
  left: 1000px;
}
/* line 624, ../sass/index.scss */
#section_3 .section_3_section .img_14 {
  position: absolute;
  top: 0;
  right: -300px;
}
/* line 629, ../sass/index.scss */
#section_3 .section_3_section .img15 {
  position: absolute;
  top: -80px;
  left: 0px;
}

/* line 639, ../sass/index.scss */
#section_4 {
  width: 1903px;
  height: 481px;
  margin: 0 auto;
}
/* line 643, ../sass/index.scss */
#section_4 .section_4_main {
  width: 1200px;
  height: 481px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 649, ../sass/index.scss */
#section_4 .section_4_main h2 {
  float: left;
  text-align: center;
  margin-top: 28px;
  font-size: 18px;
  color: #333333;
  margin-right: 10px;
}
/* line 657, ../sass/index.scss */
#section_4 .section_4_main span {
  float: left;
  margin-top: 28px;
  text-align: center;
  font-size: 20px;
  color: #333333;
}
/* line 664, ../sass/index.scss */
#section_4 .section_4_main .section_4_left {
  width: 420px;
  height: 100%;
  margin-right: 10px;
}
/* line 668, ../sass/index.scss */
#section_4 .section_4_main .section_4_left .left_top {
  width: 420px;
  height: 60px;
  float: left;
}
/* line 673, ../sass/index.scss */
#section_4 .section_4_main .section_4_left .left_bottom {
  width: 420px;
  height: 421px;
  box-sizing: border-box;
  margin-top: 60px;
  position: relative;
  border: 1px solid #cccccc;
}
/* line 680, ../sass/index.scss */
#section_4 .section_4_main .section_4_left .left_bottom .right_img {
  float: right;
}
/* line 684, ../sass/index.scss */
#section_4 .section_4_main .section_4_left .left_bottom .bottom_img {
  position: absolute;
  right: 0px;
  top: 209px;
}
/* line 692, ../sass/index.scss */
#section_4 .section_4_main .section_4_center {
  width: 420px;
  height: 481px;
  margin-right: 10px;
  box-sizing: border-box;
}
/* line 697, ../sass/index.scss */
#section_4 .section_4_main .section_4_center .center_top {
  width: 420px;
  height: 60px;
}
/* line 701, ../sass/index.scss */
#section_4 .section_4_main .section_4_center .center_bottom {
  width: 420px;
  height: 421px;
  position: relative;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
/* line 707, ../sass/index.scss */
#section_4 .section_4_main .section_4_center .center_bottom .right_img {
  float: right;
}
/* line 710, ../sass/index.scss */
#section_4 .section_4_main .section_4_center .center_bottom .bottom_img {
  position: absolute;
  right: 0px;
  top: 209px;
}
/* line 718, ../sass/index.scss */
#section_4 .section_4_main .section_4_right {
  width: 340px;
  height: 481px;
  box-sizing: border-box;
}
/* line 722, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_top {
  width: 340px;
  height: 60px;
}
/* line 726, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom {
  width: 340px;
  height: 421px;
  position: relative;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
/* line 734, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .left {
  float: left;
  width: 219px;
  height: 420px;
}
/* line 740, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .right {
  width: 118px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
}
/* line 747, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .right a {
  display: block;
  width: 118px;
  height: 60px;
  border: 1px dashed #cccccc;
  float: right;
}
/* line 754, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .right a :last-child {
  border-bottom: none;
}
/* line 757, ../sass/index.scss */
#section_4 .section_4_main .section_4_right .right_bottom .right a img {
  margin-top: 15px;
}

/* line 766, ../sass/index.scss */
#ad2 {
  width: 1903px;
  height: 110px;
  margin: 0 auto;
}
/* line 770, ../sass/index.scss */
#ad2 .ad2_main {
  width: 1200px;
  height: 110px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 778, ../sass/index.scss */
#ad2 .ad2_main ul {
  display: flex;
  justify-content: space-between;
}

/* line 787, ../sass/index.scss */
#section_5 {
  width: 1903px;
  height: 326px;
}
/* line 792, ../sass/index.scss */
#section_5 .section_5_main {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* line 796, ../sass/index.scss */
#section_5 .section_5_main .top {
  width: 1200px;
  height: 60px;
  line-height: 80px;
}
/* line 800, ../sass/index.scss */
#section_5 .section_5_main .top h2 {
  float: left;
  font-size: 18px;
  color: #333;
}
/* line 805, ../sass/index.scss */
#section_5 .section_5_main .top span {
  padding: 27px 0 0 9px;
  color: #ccc;
  font-size: 20px;
}
/* line 812, ../sass/index.scss */
#section_5 .section_5_main .bottom {
  width: 1200px;
  height: 266px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
/* line 817, ../sass/index.scss */
#section_5 .section_5_main .bottom ul {
  width: 1200px;
  height: 264px;
  display: flex;
  justify-content: space-evenly;
}
/* line 822, ../sass/index.scss */
#section_5 .section_5_main .bottom ul li {
  width: 200px;
  height: 224px;
  border-right: 1px dashed #eeeeee;
}
/* line 827, ../sass/index.scss */
#section_5 .section_5_main .bottom ul li:last-child {
  border: none;
}

/* line 836, ../sass/index.scss */
#list {
  width: 1903px;
  height: 466px;
  margin: 0 auto;
  overflow: hidden;
  background: #f7f7f7;
}
/* line 842, ../sass/index.scss */
#list .bg {
  width: 1200px;
  height: 426px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}
/* line 848, ../sass/index.scss */
#list .bg .main {
  width: 1200px;
  height: 376px;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* line 853, ../sass/index.scss */
#list .bg .main h2 {
  width: 72px;
  height: 38px;
  float: left;
  line-height: 38px;
  color: #333333;
  font-size: 18px;
}
/* line 861, ../sass/index.scss */
#list .bg .main p {
  width: 70px;
  height: 30px;
  float: right;
}
/* line 865, ../sass/index.scss */
#list .bg .main p a {
  color: #888;
  font-size: 14px;
  line-height: 50px;
}
/* line 873, ../sass/index.scss */
#list .bg .main .left {
  width: 954px;
  height: 376px;
  float: left;
}
/* line 878, ../sass/index.scss */
#list .bg .main .left .top {
  width: 954px;
  height: 38px;
}
/* line 883, ../sass/index.scss */
#list .bg .main .left .bottom {
  width: 954px;
  height: 338px;
}
/* line 886, ../sass/index.scss */
#list .bg .main .left .bottom ul {
  width: 954px;
  height: 338px;
}
/* line 889, ../sass/index.scss */
#list .bg .main .left .bottom ul li {
  width: 306px;
  height: 338px;
  background: white;
  float: left;
  margin-right: 12px;
}
/* line 901, ../sass/index.scss */
#list .bg .main .right {
  width: 246px;
  height: 376px;
  float: right;
}
/* line 905, ../sass/index.scss */
#list .bg .main .right .top {
  width: 246px;
  height: 38px;
}
/* line 909, ../sass/index.scss */
#list .bg .main .right .bottom {
  width: 246px;
  height: 338px;
}
/* line 912, ../sass/index.scss */
#list .bg .main .right .bottom .bottom_section {
  height: 338px;
  padding: 0 15px;
  background: #fff;
}

/* line 925, ../sass/index.scss */
#product {
  width: 1903px;
}

/* line 930, ../sass/index.scss */
#section_6 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
}
/* line 934, ../sass/index.scss */
#section_6 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #719ef7;
  box-sizing: border-box;
}
/* line 940, ../sass/index.scss */
#section_6 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 947, ../sass/index.scss */
#section_6 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 951, ../sass/index.scss */
#section_6 .top .top_left h2 {
  font-size: 100%;
}
/* line 955, ../sass/index.scss */
#section_6 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 962, ../sass/index.scss */
#section_6 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 966, ../sass/index.scss */
#section_6 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 972, ../sass/index.scss */
#section_6 .top .top_right ul li a {
  color: #cccccc;
}
/* line 976, ../sass/index.scss */
#section_6 .top .top_right ul .list11 {
  background: #719ef7;
}
/* line 980, ../sass/index.scss */
#section_6 .top .top_right li:hover {
  background: #719ef7;
}
/* line 985, ../sass/index.scss */
#section_6 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 989, ../sass/index.scss */
#section_6 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #719ef7;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 997, ../sass/index.scss */
#section_6 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1001, ../sass/index.scss */
#section_6 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1004, ../sass/index.scss */
#section_6 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1008, ../sass/index.scss */
#section_6 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1012, ../sass/index.scss */
#section_6 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1018, ../sass/index.scss */
#section_6 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1027, ../sass/index.scss */
#section_6 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1030, ../sass/index.scss */
#section_6 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1035, ../sass/index.scss */
#section_6 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1038, ../sass/index.scss */
#section_6 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1043, ../sass/index.scss */
#section_6 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1046, ../sass/index.scss */
#section_6 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1050, ../sass/index.scss */
#section_6 .bottom .bottom_phone .ul3 {
  width: 73px;
}

/* line 1058, ../sass/index.scss */
#section_7 {
  width: 1200px;
  height: 659px;
  margin: 0 auto;
}
/* line 1062, ../sass/index.scss */
#section_7 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #3eb8e9;
  box-sizing: border-box;
}
/* line 1068, ../sass/index.scss */
#section_7 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1075, ../sass/index.scss */
#section_7 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1079, ../sass/index.scss */
#section_7 .top .top_left h2 {
  font-size: 100%;
}
/* line 1083, ../sass/index.scss */
#section_7 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1090, ../sass/index.scss */
#section_7 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1094, ../sass/index.scss */
#section_7 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1100, ../sass/index.scss */
#section_7 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1105, ../sass/index.scss */
#section_7 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1110, ../sass/index.scss */
#section_7 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1114, ../sass/index.scss */
#section_7 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #3eb8e9;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1122, ../sass/index.scss */
#section_7 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1126, ../sass/index.scss */
#section_7 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1129, ../sass/index.scss */
#section_7 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1133, ../sass/index.scss */
#section_7 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1137, ../sass/index.scss */
#section_7 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1143, ../sass/index.scss */
#section_7 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1152, ../sass/index.scss */
#section_7 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1155, ../sass/index.scss */
#section_7 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1160, ../sass/index.scss */
#section_7 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1163, ../sass/index.scss */
#section_7 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1168, ../sass/index.scss */
#section_7 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1171, ../sass/index.scss */
#section_7 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1175, ../sass/index.scss */
#section_7 .bottom .bottom_phone .ul3 {
  width: 73px;
}
/* line 1180, ../sass/index.scss */
#section_7 .bottom_ul {
  width: 1200px;
  height: 100px;
  margin-top: 18px;
}

/* line 1189, ../sass/index.scss */
#section_8 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
}
/* line 1193, ../sass/index.scss */
#section_8 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #7179ea;
  box-sizing: border-box;
}
/* line 1199, ../sass/index.scss */
#section_8 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1206, ../sass/index.scss */
#section_8 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1210, ../sass/index.scss */
#section_8 .top .top_left h2 {
  font-size: 100%;
}
/* line 1214, ../sass/index.scss */
#section_8 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1221, ../sass/index.scss */
#section_8 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1225, ../sass/index.scss */
#section_8 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1231, ../sass/index.scss */
#section_8 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1236, ../sass/index.scss */
#section_8 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1241, ../sass/index.scss */
#section_8 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1245, ../sass/index.scss */
#section_8 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #7179ea;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1253, ../sass/index.scss */
#section_8 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1257, ../sass/index.scss */
#section_8 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1260, ../sass/index.scss */
#section_8 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1264, ../sass/index.scss */
#section_8 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1268, ../sass/index.scss */
#section_8 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1274, ../sass/index.scss */
#section_8 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1283, ../sass/index.scss */
#section_8 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1286, ../sass/index.scss */
#section_8 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1291, ../sass/index.scss */
#section_8 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1294, ../sass/index.scss */
#section_8 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1299, ../sass/index.scss */
#section_8 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1302, ../sass/index.scss */
#section_8 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1306, ../sass/index.scss */
#section_8 .bottom .bottom_phone .ul3 {
  width: 73px;
}

/* line 1314, ../sass/index.scss */
#section_9 {
  width: 1200px;
  height: 659px;
  margin: 0 auto;
}
/* line 1318, ../sass/index.scss */
#section_9 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #719ef7;
  box-sizing: border-box;
}
/* line 1324, ../sass/index.scss */
#section_9 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1331, ../sass/index.scss */
#section_9 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1335, ../sass/index.scss */
#section_9 .top .top_left h2 {
  font-size: 100%;
}
/* line 1339, ../sass/index.scss */
#section_9 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1346, ../sass/index.scss */
#section_9 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1350, ../sass/index.scss */
#section_9 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1356, ../sass/index.scss */
#section_9 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1361, ../sass/index.scss */
#section_9 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1366, ../sass/index.scss */
#section_9 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1370, ../sass/index.scss */
#section_9 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #719ef7;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1378, ../sass/index.scss */
#section_9 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1382, ../sass/index.scss */
#section_9 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1385, ../sass/index.scss */
#section_9 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1389, ../sass/index.scss */
#section_9 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1393, ../sass/index.scss */
#section_9 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1399, ../sass/index.scss */
#section_9 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1408, ../sass/index.scss */
#section_9 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1411, ../sass/index.scss */
#section_9 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1416, ../sass/index.scss */
#section_9 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1419, ../sass/index.scss */
#section_9 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1424, ../sass/index.scss */
#section_9 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1427, ../sass/index.scss */
#section_9 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1431, ../sass/index.scss */
#section_9 .bottom .bottom_phone .ul3 {
  width: 73px;
}
/* line 1436, ../sass/index.scss */
#section_9 .bottom_ul {
  width: 1200px;
  height: 100px;
  margin-top: 18px;
}

/* line 1444, ../sass/index.scss */
#section_10 {
  width: 1200px;
  height: 659px;
  margin: 0 auto;
}
/* line 1448, ../sass/index.scss */
#section_10 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #e744c1;
  box-sizing: border-box;
}
/* line 1454, ../sass/index.scss */
#section_10 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1461, ../sass/index.scss */
#section_10 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1465, ../sass/index.scss */
#section_10 .top .top_left h2 {
  font-size: 100%;
}
/* line 1469, ../sass/index.scss */
#section_10 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1476, ../sass/index.scss */
#section_10 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1480, ../sass/index.scss */
#section_10 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1486, ../sass/index.scss */
#section_10 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1491, ../sass/index.scss */
#section_10 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1496, ../sass/index.scss */
#section_10 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1500, ../sass/index.scss */
#section_10 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #e744c1;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1508, ../sass/index.scss */
#section_10 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1512, ../sass/index.scss */
#section_10 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1515, ../sass/index.scss */
#section_10 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1519, ../sass/index.scss */
#section_10 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1523, ../sass/index.scss */
#section_10 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1529, ../sass/index.scss */
#section_10 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1538, ../sass/index.scss */
#section_10 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1541, ../sass/index.scss */
#section_10 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1546, ../sass/index.scss */
#section_10 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1549, ../sass/index.scss */
#section_10 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1554, ../sass/index.scss */
#section_10 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1557, ../sass/index.scss */
#section_10 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1561, ../sass/index.scss */
#section_10 .bottom .bottom_phone .ul3 {
  width: 73px;
}
/* line 1566, ../sass/index.scss */
#section_10 .bottom_ul {
  width: 1200px;
  height: 100px;
  margin-top: 18px;
}

/* line 1575, ../sass/index.scss */
#section_11 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
}
/* line 1579, ../sass/index.scss */
#section_11 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #719ef7;
  box-sizing: border-box;
}
/* line 1585, ../sass/index.scss */
#section_11 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1592, ../sass/index.scss */
#section_11 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1596, ../sass/index.scss */
#section_11 .top .top_left h2 {
  font-size: 100%;
}
/* line 1600, ../sass/index.scss */
#section_11 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1607, ../sass/index.scss */
#section_11 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1611, ../sass/index.scss */
#section_11 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1617, ../sass/index.scss */
#section_11 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1622, ../sass/index.scss */
#section_11 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1627, ../sass/index.scss */
#section_11 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1631, ../sass/index.scss */
#section_11 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #719ef7;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1639, ../sass/index.scss */
#section_11 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1643, ../sass/index.scss */
#section_11 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1646, ../sass/index.scss */
#section_11 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1650, ../sass/index.scss */
#section_11 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1654, ../sass/index.scss */
#section_11 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1660, ../sass/index.scss */
#section_11 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1669, ../sass/index.scss */
#section_11 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1672, ../sass/index.scss */
#section_11 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1677, ../sass/index.scss */
#section_11 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1680, ../sass/index.scss */
#section_11 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1685, ../sass/index.scss */
#section_11 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1688, ../sass/index.scss */
#section_11 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1692, ../sass/index.scss */
#section_11 .bottom .bottom_phone .ul3 {
  width: 73px;
}

/* line 1700, ../sass/index.scss */
#section_12 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
}
/* line 1704, ../sass/index.scss */
#section_12 .top {
  width: 1200px;
  height: 71px;
  position: relative;
  border-bottom: 1px solid #6a8ea0;
  box-sizing: border-box;
}
/* line 1710, ../sass/index.scss */
#section_12 .top .top_left {
  width: 210px;
  height: 38px;
  float: left;
  line-height: 38px;
  font-size: 20px;
  padding-top: 34px;
}
/* line 1717, ../sass/index.scss */
#section_12 .top .top_left span {
  float: left;
  padding-right: 6px;
}
/* line 1721, ../sass/index.scss */
#section_12 .top .top_left h2 {
  font-size: 100%;
}
/* line 1725, ../sass/index.scss */
#section_12 .top .top_right {
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 41px;
}
/* line 1732, ../sass/index.scss */
#section_12 .top .top_right ul {
  width: 100%;
  height: 100%;
}
/* line 1736, ../sass/index.scss */
#section_12 .top .top_right ul li {
  width: 86px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 1742, ../sass/index.scss */
#section_12 .top .top_right ul li a {
  color: #cccccc;
}
/* line 1747, ../sass/index.scss */
#section_12 .top .top_right li:hover {
  background: #719ef7;
}
/* line 1752, ../sass/index.scss */
#section_12 .bottom {
  width: 1200px;
  height: 470px;
  position: relative;
}
/* line 1756, ../sass/index.scss */
#section_12 .bottom .bottom_left {
  width: 210px;
  height: 470px;
  float: left;
  background: #6a8ea0;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1764, ../sass/index.scss */
#section_12 .bottom .bottom_left a {
  margin-left: -10px;
}
/* line 1768, ../sass/index.scss */
#section_12 .bottom .phone {
  width: 220px;
  height: 32px;
}
/* line 1771, ../sass/index.scss */
#section_12 .bottom .phone ul {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 1775, ../sass/index.scss */
#section_12 .bottom .phone ul li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
/* line 1779, ../sass/index.scss */
#section_12 .bottom .phone ul li a {
  height: 23px;
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
}
/* line 1785, ../sass/index.scss */
#section_12 .bottom .phone ul li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  padding: 0 5px;
}
/* line 1794, ../sass/index.scss */
#section_12 .bottom .bottom_phone {
  width: 210px;
  height: 160px;
}
/* line 1797, ../sass/index.scss */
#section_12 .bottom .bottom_phone ul {
  height: 137px;
  float: left;
  font-size: 12px;
  margin: 8px 0 15px 15px;
}
/* line 1802, ../sass/index.scss */
#section_12 .bottom .bottom_phone ul a {
  color: #f0f0f0;
}
/* line 1805, ../sass/index.scss */
#section_12 .bottom .bottom_phone ul li {
  height: 28px;
  line-height: 28px;
}
/* line 1810, ../sass/index.scss */
#section_12 .bottom .bottom_phone .ul1 {
  width: 50px;
}
/* line 1813, ../sass/index.scss */
#section_12 .bottom .bottom_phone .ul2 {
  width: 37px;
}
/* line 1817, ../sass/index.scss */
#section_12 .bottom .bottom_phone .ul3 {
  width: 73px;
}

/* line 1825, ../sass/index.scss */
#section_13 {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
}
/* line 1830, ../sass/index.scss */
#section_13 .section_13_left {
  width: 830px;
  height: 400px;
  float: left;
}
/* line 1834, ../sass/index.scss */
#section_13 .section_13_left .left_top {
  width: 830px;
  height: 60px;
  line-height: 60px;
}
/* line 1838, ../sass/index.scss */
#section_13 .section_13_left .left_top h2 {
  float: left;
  font-size: 20px;
  color: #ccc;
}
/* line 1843, ../sass/index.scss */
#section_13 .section_13_left .left_top span {
  padding: 27px 0 0 9px;
  color: #ccc;
  font-size: 20px;
}
/* line 1848, ../sass/index.scss */
#section_13 .section_13_left .left_top p {
  float: right;
}
/* line 1850, ../sass/index.scss */
#section_13 .section_13_left .left_top p a {
  color: #ccc;
  font-size: 12px;
}
/* line 1857, ../sass/index.scss */
#section_13 .left_bottom {
  width: 830px;
  height: 340px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
/* line 1862, ../sass/index.scss */
#section_13 .left_bottom .left {
  float: left;
  width: 281px;
  height: 340px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
/* line 1869, ../sass/index.scss */
#section_13 .left_bottom .right {
  float: right;
  width: 547px;
  height: 340px;
  box-sizing: border-box;
}

/* line 1878, ../sass/index.scss */
.section_13_right {
  width: 361px;
  height: 400px;
  float: right;
}
/* line 1882, ../sass/index.scss */
.section_13_right .right_top {
  width: 361px;
  height: 60px;
  line-height: 60px;
}
/* line 1887, ../sass/index.scss */
.section_13_right .right_top h2 {
  float: left;
  font-size: 20px;
  color: #ccc;
}
/* line 1892, ../sass/index.scss */
.section_13_right .right_top span {
  padding: 27px 0 0 9px;
  color: #ccc;
  font-size: 20px;
}
/* line 1897, ../sass/index.scss */
.section_13_right .right_top p {
  float: right;
}
/* line 1899, ../sass/index.scss */
.section_13_right .right_top p a {
  color: #ccc;
  font-size: 12px;
}
/* line 1905, ../sass/index.scss */
.section_13_right .right_bottom {
  width: 361px;
  height: 340px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

/* line 1917, ../sass/index.scss */
#section_14 {
  width: 1200px;
  height: 222px;
  margin: 0 auto;
}
/* line 1922, ../sass/index.scss */
#section_14 .ul11 {
  width: 1200px;
  height: 42px;
  padding: 15px 0;
  background: #ccc;
}
/* line 1928, ../sass/index.scss */
#section_14 .ul11 li {
  width: 396px;
  height: 42px;
  float: left;
  line-height: 42px;
}
/* line 1935, ../sass/index.scss */
#section_14 .section_14_footer {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
}
/* line 1940, ../sass/index.scss */
#section_14 .section_14_footer ul {
  width: 240px;
  height: 150px;
  float: left;
}
/* line 1944, ../sass/index.scss */
#section_14 .section_14_footer ul li {
  padding: 10px 0 0 75px;
  font-size: 12px;
}
/* line 1947, ../sass/index.scss */
#section_14 .section_14_footer ul li a {
  color: #A5A5A5;
}
/* line 1951, ../sass/index.scss */
#section_14 .section_14_footer ul .list1 {
  font-size: 16px;
}

/* line 1959, ../sass/index.scss */
#footer {
  width: 1903px;
  height: 293px;
  margin: 15px auto 0;
  background: #f7f7f7;
  border-top: 1px solid #dd00a7;
}
/* line 1966, ../sass/index.scss */
#footer .footer_main {
  margin: 0 auto;
  width: 1200px;
  height: 293px;
  padding: 20px 0 0;
  overflow: hidden;
}
/* line 1973, ../sass/index.scss */
#footer .footer_main span {
  width: 315px;
  height: 45px;
  display: inline-block;
  margin-left: 10px;
  padding: 0 50px 40px 0;
}
/* line 1980, ../sass/index.scss */
#footer .footer_main span strong {
  font-size: 18px;
  display: block;
  color: #333333;
}
/* line 1985, ../sass/index.scss */
#footer .footer_main span a {
  font-size: 12px;
  color: #999999;
}
/* line 1990, ../sass/index.scss */
#footer .footer_main ul {
  width: 1200px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}
/* line 1995, ../sass/index.scss */
#footer .footer_main ul li {
  float: left;
  padding: 0 13px 0 0;
  white-space: nowrap;
}
/* line 2000, ../sass/index.scss */
#footer .footer_main ul li a {
  color: #ccc;
}
/* line 2005, ../sass/index.scss */
#footer .footer_main p {
  width: 1200px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

/* line 2014, ../sass/index.scss */
#footer .footer_main span p a:hover {
  color: #f5004b;
}

/* line 2017, ../sass/index.scss */
#footer .footer_main ul li:hover a {
  color: #f5004b;
}
